@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #010e12 0%, #d1e9e9 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LAYOUT */
main {
    position: relative;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    main {
        width: 100rem;
        height: 60rem;
        flex-direction: row;
    }
}

.player {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
}

@media only screen and (min-width: 600px) {
    .player {
        padding: 9rem;
    }
}

/* ELEMENTS */
.name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 3rem;
    }
}

.score {
    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
}

@media only screen and (max-width: 600px) {
    .score {
        font-size: 6rem;
    }
}

.player--active {
    background-color: rgba(59, 232, 24, 0.4);
}

.player--active .name {
    font-weight: 700;
}

.player--active .score {
    font-weight: 400;
}

.player--active .current {
    opacity: 1;
}

.current {
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
}

.current-score {
    font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
}

